{% extends 'base.html' %}

{% block content %}
<h1>Shift Hyperloop Super Amazing Incredible Kiosk</h1>
<hr>
<form action="/" method="post">
  {% csrf_token %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">In stock</th>
      <th scope="col">Add items</th>
    </tr>
  </thead>
  <tbody>
    {% for prod in prods %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{prod.name}}</td>
        <td><input name="{{prod.name}}" class="form-control" type="number" placeholder="{{prod.price}}"></td>
        <td>{{prod.amount}}</td>
        <td scope="col">
          <input name="{{prod.name}}" class="form-control" type="number"> 
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table>
<hr>
<input type="submit" value="Update data">
</form>



{% endblock %}
