{% extends "attendance/base.html" %}

{% block content %}
    <div id="start"></div>

    <div id="register-main">
        <form method="POST" enctype='multipart/form-data' class="form-group">
            {% csrf_token %}
            {% load crispy_forms_filters %}
            {% for field in form.visible_fields %}
            <div class="register-form-field">
                {{ field.errors | as_crispy_errors }}
                {{ field | as_crispy_field }}
            </div>
            {% endfor %}

            <button type="submit" class="register-button", name="register-button">Press to continue</button>

            <!-- Add something to show it's waiting for card input on button click-->
        </form>
    </div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %} 
